<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/JonnShaft">Ahmad Jamal</a>; a web developer who is a former legal professional who specialized in digital forensics and electronic discovery. Mr. Jamal is also a licensed private investigator (no longer for hire). 
	</p>
	<br />
	<p>
		Mr. Jamal has worked on enterprise level electronic discovery and forensic engagements, as well as high value product liability toxic tort litigation. Mr. Jamal has worked at one of the world's largest law firms, as well as one of San Francisco's fastest growing eDiscovery providers.
	</p>
	<p>
		If you want to embark on the journey to becoming a web developer, start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>

	<br class="clear" />
	<br />
	<br />
	<br />

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'rsz_1akj.jpg', :class => 'img-resp[onsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Ahmad Jamal</h2>
	<br />
	<p>
		Ahmad Jamal is a husband, father, and Nevada boy who loves to travel, enjoy the great outdoors, and sample great beer from around the world. He is an avid golfer and professional diaper changer and nose wiper to the newest member of the Jamal clan, Major Kenneth. Mr. Jamal is an alum of the University of Nevada, Las Vegas and makes is home in the Bay Area. 
	</p>
</div>


</div>
