<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/JonnShaft">Ahmad Jamal</a> with the goal of randomly bestowing advice on those who grace us with a visit. All visitors to Splurty are encouraged to leave something to share with the rest of our distinguished Splurty community. And please, keep the contributions family friendly my good friends.  
	</p>
	<br />
	<p>
		When that time comes that that you need some 'real talk' in your life, or you would like to share some, Splurty is there for you!
	</p>
	<p>
		If you want to embark on the journey to becoming a web developer like I did, start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>

	<br class="clear" />
	<br />
	<br />
	<br />

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'rsz_1akj.jpg', :class => 'img-resp[onsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Ahmad Jamal</h2>
	<br />
	<p>
		Ahmad Jamal is a husband, father, and Nevada boy who loves to travel the globe, enjoy the great outdoors, and sample great beer from around the world. He is an avid golfer and professional diaper changer/nose wiper/bather to the newest and coolest member of the Jamal clan, Major Kenneth. He has worked on large scale litigation at global law firms and on enterprise computer forensic and electronic discovery engagements at national eDiscovery providers. Mr. Jamal is an alum of the University of Nevada, Las Vegas and currently makes his home in the Bay Area. 
	</p>
</div>


</div>
